{% extends 'base.html' %}

{% block title %}
    {{ recipe_object.title }}
{% endblock title %}

{% block content %}
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main Page</a>
            <a href="{% url 'edit_recipe' recipe_object.id %}">Edit a recipe</a>
        </nav>
    </header>
    <main>
        <h1>{{recipe_object.title}}</h1>
        <p>{{ recipe.created_on|date:"j F Y" }}</p>
        <img src="{{ recipe_object.picture }}">
        <p>{{ recipe_object.description }}</p>
        <div>{{ recipe_object.gluten_free }}</div>
        <div>{{ recipe_object.rating }}</div>
        <h2>Ingredients</h2>
        <table>
            <thead>
                <tr>
                    <td>1 cup</td>
                    <td>Green beans</td>
                </tr>
                <tr>
                    <td>3 ears</td>
                    <td>Fresh corn</td>
                </tr>
                <tr>
                    <td>2 cups</td>
                    <td>Tomatillo salsa</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Corn tortillas</td>
                </tr>
                <tr>
                    <td>0.5 cups</td>
                    <td>Cotija cheese</td>
                </tr>
            </thead>
        </table>
        <h2>Steps</h2>
        <ol>
            <li>Blanch the green beans</li>
            <li>Grill the green beans and the ears of corn</li>
            <li>Chop the green beans</li>
            <li>Slice the corn off the cob</li>
            <li>Grill the tortillas</li>
            <li>Assemble the tacos with veggies, salsa, and cheese</li>
        </ol>
    </main>
{% endblock content %}
