{% extends 'base.html' %}

{% block title %}
    {{ recipe_object.title }}
{% endblock title %}

{% block content %}
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main Page</a>
            <a href="{% url 'create_recipe' %}">Create a recipe</a>
        </nav>
    </header>
    <main>
        <h1>Scrumptious Recipes</h1>
        <h2>All the food that's fit to eat</h2>
        <div class="grid">
            {% for recipe in recipe_list %}
            <div>
                <h3>
                    <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
                </h3>
                <p>{{ recipe.created_on|date:"j F Y" }}</p>
                <img src="{{ recipe.picture }}">
                <div>{% if recipe.gluten_free == True %} Gluten Free {% endif %}</div>
                <div>{{ recipe.rating }}</div>
            </div>
            {% endfor %}
        </div>
    </main>
{% endblock content %}
