@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
margin: 0;
padding: 0;
}

main{
    font-family: 'Roboto', sans-serif;
    padding: 16px;
    margin-bottom: 75px;
}

footer{
    padding-top: 24px;
    padding-bottom: 24px;
    position: fixed;
    background-color: #C2BB00;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 30px;
    font-size: 32px
}

img{
    height: 200px;
}

nav{
    border-bottom: 3px solid #003547;
    padding: 16px;
    background-color: #E1523D;
}

a{
    text-decoration: none;
    color:#C2BB00 ;
}

a:hover{
    color: green;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

h1{
    color: #005E54;
}

nav > a{
    color:white;
}

table{
    display: grid;
}

tr:nth-child(even){
    background-color: lightgray;
}
